@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Buyer
<h3>Регистрация покупателя</h3>
<form method="post" asp-action="Register" asp-controller="Account">
    <div class=" flex-lg-column">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        @*
        <ul>
            @foreach (Purchase p in Model.Purchases)
            {
                <li>
                    @p.Product.Title
                </li>
            }
        </ul>*@
    </div>
</form>