@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Buyer

<h3>Регистрация покупателя</h3>

<form method="post" asp-action="RegisterBuyer" asp-controller="Account" asp-antiforgery="true">
    <div>
        <div>
            <label asp-for="Login"></label>
            <input asp-for="Login" />
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="NumberPhone"></label>
            <input asp-for="NumberPhone" />
            <span asp-validation-for="NumberPhone"></span>
        </div>

        <input type="submit" value="Register" />
    </div>
</form>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>