@{
    ViewData["Title"] = "Login Page";
}
@model LoginViewModel

<h2>Зайти под учетной записью</h2>

<form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
    <div>
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Login"></label>
            <input asp-for="Login" />
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <input class="button" type="submit" value="Войти" />
    </div>
</form>
