@{
    ViewData["Title"] = "Register Page";

    //defaultTypeId необходим для выбора позиции выпадающего списка после редиректа
    if(Model is Buyer)
    {
        ViewData["defaultTypeId"] = (int)UserType.Buyer;
    }
    else if (Model is Seller)
    {
        ViewData["defaultTypeId"] = (int)UserType.Seller;
    }
    else if (Model is Delivery)
    {
        ViewData["defaultTypeId"] = (int)UserType.Delivery;
    }
    else
    {
        ViewData["defaultTypeId"] = 0;
    }


}
<h2>Регистрация пользователя</h2>

<div>
    <p>Выберите тип пользователя и заполните форму:</p>
    <label>Тип пользователя:</label>

    <select id="selector" asp-items="Html.GetEnumSelectList<UserType>()"></select>
</div>

<div id="userRegistrationForm"></div>

@section Scripts{

    <script>
        var userTypeId;
        $(document).ready(function () {
            $('#selector').change(function (e) {
                e.preventDefault();

                userTypeId = $('#selector').val();
                console.log(userTypeId);
                $('#userRegistrationForm').load('@Url.Action("GetRegisterForm", "Account")?userTypeId=' + userTypeId)
            });

            $('#userRegistrationForm').load('@Url.Action("GetRegisterForm", "Account")?userTypeId=' +@ViewData["defaultTypeId"]);
            $('#selector').val(@ViewData["defaultTypeId"]);
        });
    </script>

}
