@{
    ViewData["Title"] = "Register Page";
}
<h2>Регистрация пользователя</h2>

<div>
    <p>Выберите тип пользователя и заполните форму:</p>
    <label>Тип пользователя:</label>
    <select id="selector" asp-items="Html.GetEnumSelectList<UserType>()"></select>
</div>



<div id="userRegistrationForm"></div>

@section Scripts{

    <script>
        var userTypeId;
        $(document).ready(function () {
            $('#selector').change(function (e) {
                e.preventDefault();
                userTypeId = $('#selector').val();
                name=encodeURIComponent(name);
                $('#userRegistrationForm').load('@Url.Action("UserTypeSelector", "Account")?userTypeId=' + userTypeId)
            });
            $('#userRegistrationForm').load('@Url.Action("UserTypeSelector", "Account")?userTypeId=' + $('#selector').val());
        });
    </script>
}
