nav{
    background-color: brown;
}

.catalog{
    --catalogHeight:30px;
    line-height: var(--catalogHeight);
    min-width: 100px;
    width: 100px;
    margin: 0;
    padding: 0;
}
.catalog > li{
    border-radius: 5px;
}


.catalog a {
    display: block;
    color: white;
    text-decoration: none;
    width: auto;
    text-align: center;
    white-space: nowrap;
}

.catalog a:hover{
    background-color: rgb(92, 131, 182);
}

.catalog li{
    list-style: none;
    background-color: #005bff;
    min-width: inherit;
}

.catalog ul{
    padding: 0;
    list-style: none;
}


.catalog li ul{
    display: none;
    position: absolute;
    min-width: inherit;
}


.catalog li:hover > ul{
    display: inherit;
}

.catalog li ul ul{
    top: inherit;
    margin-top: calc(var(--catalogHeight)*-1);
    left: 100%;
}
