h3{
    text-align: center;
}

form{
    display: grid;
    grid-template-columns: 1fr;
}

.shopContainer {
    padding: 10px;
    width: 200px;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-rows: 80% 20%;
    background-color: #f7f7f7;
    margin: 5px 0;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
}


.shopTitle{
    font-size: 14px;
    display: table-cell;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    overflow-wrap: anywhere;
}

.shopContainer {
    display: inline-grid;
    cursor: default;
    overflow: hidden;
}
.shopContainer>div {
    display: inline-table;
}


.shopContainer .button {
    display: inline-grid;
}

.shopContainer .inline-buttons {
    display: inline-flex;
    justify-content: space-between;
}




