.selectedImageContainer > .imagePreview {
    outline: 3px solid red;
    margin: 3px
}

#ProductsWindow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items:center;
}

.prodContainer {
    background-color: beige;
    border: 2px solid gray;
    border-radius: 5%;
    padding: 10px;
    aspect-ratio: 1 / 1;
    height: 200px;
}

.navbarfixation{
    position:fixed;
    width:100%;
}

main {
    padding-block-start: 80px;
}