.selectedImageContainer > .imagePreview {
    outline: 3px solid red;
    margin: 3px
}

main {
    padding-block-start: 80px;
}

#ProductsContainer {
    display:inline-flex;
    justify-content:center;
    width: 100%;
}

#ProductsWindow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
    width: 100%;
    background-color: #eaf3ff;
    border: 2px solid #a2caff;
    border-radius: 10px;
    padding: 10px;
}

.prodContainer {
    background-color: #a2caff;
    border: 2px solid gray;
    border-radius: 5%;
    padding: 10px;
    aspect-ratio: 1 / 1;
    height: 200px;
}


