.selectedImageContainer > .imagePreview {
    outline: 3px solid red;
    margin: 3px
}

#ProductsContainer {
    display:inline-flex;
    justify-content:center;
    width: 100%;
}

#ProductSearch {
    position: sticky;
    top: 80px;
    height:600px;
    overflow-y:auto;
    overflow-x:hidden;
    margin-right: 10px;
    min-width: 250px;
}

#ProductsWindow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
    width: 100%;
}

.prodContainer {
    background-color: beige;
    border: 2px solid gray;
    border-radius: 5%;
    padding: 10px;
    aspect-ratio: 1 / 1;
    height: 200px;
}

.navbarfixation{
    position:fixed;
    width:100%;
    z-index: 1;
}

main {
    padding-block-start: 80px;
}