#Shops {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
    width: 100%;
}

.shopContainer {
    padding: 10px;
    width: 200px;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-rows: 80% 20%;
    cursor: pointer;
    background-color: #f7f7f7;
    margin: 5px 0;
    border-radius: 5px;
}


.shopTitle{
    font-size: 14px;
    display: table-cell;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    overflow-wrap: anywhere;
}

#Shops .shopContainer {
    display: inline-grid;
    cursor: default;
    overflow: hidden;
}
#Shops .shopContainer>div {
    display: inline-table;
}


#Shops .shopContainer.addShopButton {
    display: flex;
}

#Shops .shopContainer.addShopButton:hover {
    cursor: pointer;
}

#Shops .shopContainer.addShopButton:hover > img {
    filter: brightness(75%);
}

#Shops .shopContainer.addShopButton > img {
    display: flex;
    scale: 0.5;
}

#Shops .shopContainer .button {
    display: inline-grid;
}

#Shops .shopContainer .inline-buttons {
    display: inline-flex;
    justify-content: space-between;
}




