@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Product

<link rel="stylesheet" href="~/css/searchForm.css" />

<div id="ProductSearch">
    <h4>Фильтр</h4>
    <form>
        <input type="hidden" value="@Context.Request.Query["catalogType"].ToString()" name="catalogType" />

        @Html.EditorForModel("Search")

        <input type="submit" value="Найти" />
    </form>
</div>


