
<form  asp-action="CreateProduct" asp-controller="Product" asp-area="Product" asp-antiforgery="true">
    <input name="ProductType" type="hidden" value="@ViewBag.ProductType" />
    @Html.EditorForModel()
    <input id="images" type="file" multiple value="Upload" />
    <input type="submit" value="Create" />
</form>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {

        $("#images").change(function () {
            var myFile = $('#images').prop('files');

            var formData = new FormData();
            
            $.each(myFile, function (key, input) {
                formData.append('file[]', input);
            });

            $.ajax({
                type: "POST",
                url: "UploadLargeFile",
                data: formData,
                enctype: "multipart/form-data",
                contentType: false,
                processData: false
            });
        });

    });
</script>

