
<form asp-action="CreateProduct" asp-controller="Product" asp-area="Product" asp-antiforgery="true">
    <input name="ProductType" type="hidden" value="@ViewBag.ProductType" />
    @Html.EditorForModel()
    <input type="submit" value="Create" />
</form>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

