@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Выберите категорию</h4>
<select class="selector" asp-items="@ViewBag.SelectList"></select>

<div class="prodForm"></div>


<script>
    $(document).ready(function () {

        var currentSelector = $(".selector").last();
        var currentProdForm = $('.prodForm').last();

        currentSelector.append(`<option disabled selected hidden value="-1">-Выберите-</option>`,);
        currentSelector.val("-1");

        $('.selector').change(function (e) {
            var selectorValue = currentSelector.val();
            currentProdForm.load('@Url.Action("ChildTypeView", "Product",new {area="Product"  })?parentType=' + selectorValue);
        });
    });
</script>
