@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Форма редактирования товара</h4>

<div>
    @await Component.InvokeAsync("EditForm", new { productType = ViewBag.ProductType, product = ViewBag.Product })
</div>