@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product
<h3>Добавить товар в выбранный магазин</h3>


<select id="selector" asp-items="@ViewBag.ProdTypeSelectList"></select>
<div id="createProdForm">

</div>
<div class="dudu">

</div>
@await Html.PartialAsync("_CreatePartial")
@*@section Scripts{

        <script>
            //$(document).ready(function () {

            //    $('#selector').change(function (e) {

            //        /*ProdType = $('#selector').val();*/

            //        $('#createProdForm').children().append("<h3>ProdType</h3>");
            //    });
            //    });

            $(document).ready(function () {
                $('#selector').change(function (e) {

                    //var B = document.createElement('b');
                    //B.appendChild(document.createTextNode("abb"));
                    var newElems = $("<div class='dcell'>baba</div>");

                    $('#createProdForm').append(newElems);
                    $('div.dudu').append(newElems);
                    /*                document.getElementById("createProdForm").appendChild(newElems);*/
                    //var newElems = $("<div class='dcell'></div>")
                    //    .append("<img src='http://professorweb.ru/downloads/jquery/lily.png'/>")
                    //    .append("<label for='lily'>Лилии:</label>")
                    //    .append("<input name='lily' value='0' required />");

                    //newElems.css("border", "thick solid red");

                    //$('#createProdForm').append(newElems);
                });
            });
        </script>

    }*@