@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Личный кабинет продавца</h2>

<a style="font-weight: 400; font-size: 24px; color: #555;" asp-controller="Seller" asp-action="Shops" asp-area="user">Магазины</a>
