@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var shop = Model;
}

<link rel="stylesheet" href="~/css/deleteShop.css" />

@model Shop

<h3>Удалить магазин?</h3>

<form id="deleteForm" asp-action="DeleteShop" asp-controller="Seller" asp-area="User" method="post">
    <div class="shopContainer">
        <input type="hidden" name="id" value="@shop.Id" />
        <div>
            @Html.Display(nameof(@shop.Title))
        </div>
        <div class="inline-buttons">
            <a class="button" href="@Url.Action("Shops","Seller",new {area="User"})">Отмена</a>
            <input class="button" type="submit" value="Удалить" />
        </div>
    </div>
</form>



