@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Shop>
<h3>Страница с магазинами</h3>

<div>
    @foreach (var shop in Model)
    {
    <div>
        <a href="@Url.Action("Shop", new {id=shop.Id})">@shop.Title</a>
        <a href="@Url.Action("DeleteShop", new {id=shop.Id})">Delete Shop</a>
    </div>
    }

        <div>
            <a href="@Url.Action("CreateShop")">Добавить новый магазин</a>
        </div>
</div>