@{

}

@model ShopProducts

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/handlebars.js/handlebars.min.js"></script>
<script src="~/js/handtemp.js"></script>
<link rel="stylesheet" href="~/css/shop.css" />

<h3>Товары в магазине</h3>
<div id="ShopProducts">
    <a class="prodContainer addProductButton" href="@Url.Action("CreateProduct","Product",new {area="Product"})">
        <img src="~/Content/Site/Shop/plus.svg" />
    </a>
</div>

<script>
    $(document).ready(function () {

        loadProducts();
    });

    let loadProducts = () => {
        let products =@Html.Raw(@JsonConvert.SerializeObject(Model.Products));

        products.forEach(function (product) {
            addProduct("#ShopProducts", product);
        });
    }

    let getMainImage = (prod) => {

        let prodId = prod.Id;
        let mainImageName = "";

        prod.Images.forEach(function (image, index) {

            if (image.MainImage == true) {

                mainImageName = image.Name;
            }
        });

        let url = "/Content/Proposal/" + prodId + "/" + mainImageName;

        return url;
    }


    let addProduct = (target, prod) => {

        let mainImageUrl = getMainImage(prod);

        CreateFromTemplate(target, "#prodTemplate", { id: prod.Id, src: mainImageUrl, price: new Intl.NumberFormat("ru", { style: "currency", currency: "RUB", minimumFractionDigits: 0 }).format(prod.Price), title: prod.Title });
    }
</script>

<script type="text/x-handlebars-template" id="prodTemplate">
    <div class="prodContainer" id="{{id}}" >
        <div>
            <img class="prodImage" src="{{src}}">
        </div>
        <div>
            <p class="prodPrice">{{price}}</p>
        </div>
        <div>
            <p class="prodTitle">{{title}}</p>
        </div>
        <div class="inline-buttons">
            <a class="button" onclick="window.location.href='/Product/Product/EditProduct?id='+{{id}}+'&shopId='+@Model.ShopId">Редакт.</a>
            <a class="button" onclick="window.location.href='/Product/Product/DeleteProduct?id='+{{id}}+'&shopId='+@Model.ShopId">Удалить</a>
        </div>
    </div>
</script>
