@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Shop>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/handlebars.js/handlebars.min.js"></script>
<script src="~/js/handtemp.js"></script>
<link rel="stylesheet" href="~/css/shops.css" />

<h3>Страница с магазинами</h3>

<div id="Shops">
    <a class="shopContainer addShopButton" href="@Url.Action("CreateShop","Seller",new {area="User"})">
        <img src="~/Content/Site/Shop/plus.svg" />
    </a>
</div>

<script>
    $(document).ready(function () {
        loadShops();
    });

    let loadShops = () => {
        let shops =@Html.Raw(@JsonConvert.SerializeObject(Model));

        shops.forEach(function (shop) {
            addShop("#Shops", shop);
        });
    }

    let addShop = (target, shop) => {

        CreateFromTemplate(target, "#shopTemplate", { id: shop.Id, title: shop.Title });
    }
</script>

<script type="text/x-handlebars-template" id="shopTemplate">
    <div class="shopContainer" id="{{id}}">
        <div>
            <p class="shopTitle">{{title}}</p>
        </div>
        <div class="inline-buttons">
            <a class="button" onclick="window.location.href='/User/Seller/Shop?id='+{{id}}">Просмот.</a>
            <a class="button" onclick="window.location.href='/User/Seller/DeleteShop?id='+{{id}}">Удалить</a>
        </div>
    </div>
</script>